body {
	margin: 0;
	padding: 0;
	background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/XIlSq6i/80s-background-graphic_4dkqiecoe__F0000.png);
	background-size: cover;
	background-attachment: fixed;
}
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
